    /* Inserta tu código de la página contacto acá */
    
    * {
        margin: 0;
        padding: 0;
        /*outline: solid yellow;*/
    }
    
    body {
        margin: 0;
        font-family: 'Montserrat', sans-serif;
    }
    
    #todo {
        width: 100%;
        max-width: 1000px;
        margin: auto;
        background: white;
        padding: 10px 20px;
        box-sizing: border-box;
        margin-top: 100px;
    }
    
    .titulo {
        color: black;
        text-align: Center;
        margin: 0;
        font-size: 30px;
        font-weight: 10px;
        margin-bottom: 20px;
    }
    
    .contenido {
        color: black;
        text-align: left;
        margin: 0;
        font-size: 14px;
        margin-top: 30px;
    }
    
    .form-register {
        width: 100%;
        max-width: 500px;
        margin: auto;
        background: white;
        padding: 10px 20px;
        box-sizing: border-box;
        margin-top: 10px;
    }
    
    .contenedor-inputs {
        padding: 10px 30px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
    .dato,
    textarea {
        width: 100%;
        margin-bottom: 20px;
        padding: 10px;
        box-sizing: border-box;
        font-size: 14px;
        border-radius: 7px;
        background: #F3EFEF;
    }
    
    .subtitle {
        color: black;
        margin: 0;
        font-size: 20px;
        font-weight: 10px;
        margin-top: 30px;
    }
    
    .form-check {
        margin-top: 10px;
        margin-bottom: 14px;
        font-size: 13px;
    }
    
    .form-link {
        width: 100%;
        margin-top: -20px;
        font-size: 14px;
    }
    
    textarea {
        min-height: 100px;
        max-height: 300px;
        max-width: 100%;
    }
    
    .btn-enviar {
        background: black;
        color: #fff;
        padding: 10px 40px;
        box-sizing: border-box;
        margin: auto;
        border-radius: 7px;
    }
    
    .btn-enviar:hover {
        cursor: pointer;
    }
    
    @media(max-width:480px) {
        #todo,
        .form-register {
            width: 100%;
        }
    }